<div class="row">
    <div class="col-4">
        <app-general-app></app-general-app>
    </div>
    <div class="col-8">
        <form style="margin-right: 150px;" id="objects-details-form" #f="ngForm" (ngSubmit)='f.form.valid && onSubmit(f.value)' [appMatchPassword]="['password', 'confirmPassword']" novalidate >

            <div class="container">
                <div class="row">
                    <div class="col-md-2"> </div>
                    <div class="admin-parts-title col-8 text-center animated bounceInLeft"> Personal data </div>
                    <div class="col-md-2"> </div> 
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2"> </div>
                <div class="form-group col-md-8 ">
                    <label for="inputName">Name</label>
                    <input #name="ngModel" type="text" name="name" class="form-control" id="name" ngModel required>
                </div>
                <span style="margin-left: 220px" class="text-danger"
                    *ngIf="(name.touched || f.submitted) && name.errors?.required">
                    Name is required
                </span >
            </div>
            <div class="form-row">
                    <div class="col-md-2"> </div>
                    <div class="form-group col-md-8">
                        <label for="inputEmail4">Doctor ID</label>
                        <input type="text" #drId="ngModel" required name="drId" [(ngModel)]="newCourse.drId" class="form-control" id="drId">
                    </div>
                    <div class="col-md-2"> </div>
                    <span style="margin-left: 220px" class="text-danger"
                        *ngIf="(drId.touched || f.submitted) && drId.errors?.required">
                        Doctor ID is required
                    </span >
            </div>
            <div class="form-row">
                <div class="col-md-2"> </div>
                <div class="form-group col-md-8">
                    <label for="inputEmail4">Doctor Name</label>
                    <input type="text" #drName="ngModel" required name="drName" [(ngModel)]="newCourse.drName" class="form-control" id="drName">
                </div>
                <div class="col-md-2"> </div>
                <span style="margin-left: 220px" class="text-danger"
                    *ngIf="(drName.touched || f.submitted) && drName.errors?.required">
                    Doctor Name is required
                </span >
            </div>
        
                <div class="form-row">
                    <div class="col">
                        <button type='submit' style='width:700px; ' class="admin-details-button text-center" [disabled]="!f.valid">
                                <a  class="primary-btn" data-text="Save">
                                        <span>S</span>
                                        <span>a</span>
                                        <span>v</span>
                                        <span>e</span>
                                </a>
                        </button>
                    </div>
                    
                </div>
        </form>
    </div>
</div>




