
<div class="row">
    <div class="col-4">
        <app-general-app></app-general-app>
    </div>
    <div class="col-8">
        <section class="section" style="margin-left: 10%;">
            <div class="container" style="margin-left: 10%;">
                <div class="row">
                    
                    <div class="admin-parts-title col-8 text-center animated bounceInLeft"> Personal data </div>
                    
                </div>
            </div>
            <form id="objects-details-form" style="margin-right: 150px;">
                <div class="container">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">ID</th>
                                    <td>{{StData.id}}</td>
            
                                </tr>
                                <tr>
                                    <th scope="row">username</th>
                                    <td>{{StData.username}}</td>
            
                                </tr>
                                <tr>
                                  <th scope="row">Email</th>
                                  <td>{{StData.email}}</td>
          
                              </tr>
                                <tr>
                                    <th scope="row">picPath</th>
                                    <td>{{StData.picPath}}</td>
            
                                </tr>
                                <tr>
                                    <th scope="row">Department</th>
                                    <td>{{StData.department}}</td>
            
                                </tr>
                                <tr>
                                    <th scope="row">studyYear</th>
                                    <td>{{StData.studyYear}}</td>
            
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  
            
            
            </form>
            
          </section>
    </div>
</div>

