
  <div id="wrapper">
    <section class="section">
         <div class="menu-search">
            <form >
                <div class="form-group">
                    <input type="text" name="searchString" [(ngModel)]="searchString" class="form-control" placeholder="What you are looking?">
                    
                </div>
                
                <button class="btn btn-primary" (click)=" RegDoctor()" style='margin-right: 1115px; margin-top: 90px; width: 100px; margin-left: 50px;'>Add New</button>
           </form>
        </div>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                
            </div>
        </div>
    </section>
    <div class="position-sticky">
      <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th scope="col" style="width: 20%">ID</th>
                  <th scope="col" style="width: auto">Name</th>
                  
                  <th scope="col" style="width: auto">Doctor_ID</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let course of allCourses | filter : {name:searchString};'>
                  <td>{{course.id}}</td>
                  <td>{{course.name}}</td>
                  <td>
                      <table>
                          <tr *ngFor='let Did of course.drid'>
                              <td>{{Did}}</td>
                          </tr>
                      </table>
                  </td>
                  <!-- <td>{{course.drid[0]}} <br>{{course.drid[1]}}</td> -->
                  <td id='buttons'>
                    <a><button type="button" class='btns' (click)="detailsCourse( course.id )" class="btn btn-primary" style='cursor: pointer'>Detalis</button></a>
                    <a><button type="button" class='btns' (click)="updateCourse( course.id )" class="btn btn-secondary" style='cursor: pointer'>Update</button></a>
                    <button type="button" (click)='DeleteCourse(course)' class='btns' class="btn btn-danger">Delete</button>
                  </td>
              </tr>
             </tbody>
          </table>
        </div>

    </div>

    

  
  
  
  
  
  
  


