<section class="section" style="margin-left: 10%;">
    <div class="container" style="margin-left: 10%;">
        <div class="row">
            
            <div class="admin-parts-title col-8 text-center animated bounceInLeft"> Personal data </div>
            
        </div>
    </div>
    <form id="objects-details-form" >
        <div class="container">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td>{{TAData.id}}</td>
    
                        </tr>
                        <tr>
                            <th scope="row">username</th>
                            <td>{{TAData.username}}</td>
    
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{TAData.email}}</td>
    
                        </tr>
                        <tr>
                            <th scope="row">Picture Path</th>
                            <td>{{TAData.picPath}}</td>
    
                        </tr>
                        <tr>
                            <th scope="row">Department</th>
                            <td>{{TAData.department}}</td>
    
                        </tr>
                        
                    </tbody>
                </table>
             
            </div>
            <button class="btn btn-primary" (click)="TA()" >Back</button>
            
    
    </form>
    
</section>
