<div id="wrapper">
<div class="list-group filter-wrap">
	<article class="list-group-item">
		<header class="filter-header">
			<a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="">
				<i class="icon-action fa fa-chevron-down"></i>
				<h6 class="title">Courses </h6>
			</a>
		</header>
		<div class="filter-content collapse " id="collapse1" style="">			
      <app-ranks></app-ranks>

		</div> <!-- collapse -filter-content  .// -->
  </article>
  <article class="list-group-item">
		<header class="filter-header">
			<a href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" class="">
				<i class="icon-action fa fa-chevron-down"></i>
				<h6 class="title">Performance </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse2" style="">			
      
      <div class="row cardh">
        <div class="col-sm-4">
            <div class="card">
              <div class="image">
                <img src="http://loremflickr.com/320/150?random=4" />
              </div>
              <div class="card-inner">
                <div class="header">
                  <h2>Ranks</h2>
                  <h3>Sub-Head</h3>
              </div>
              <div class="content">
                <p>Content area</p>
              </div>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="image">
                <img src="http://loremflickr.com/320/150?random=5" />
              </div>
              <div class="card-inner">
                <div class="header">
                  <h2>Title</h2>
                  <h3>Sub-Head</h3>
              </div>
              <div class="content">
                <p>Content area</p>
              </div>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="image">
                <img src="http://loremflickr.com/320/150?random=6" />
              </div>
              <div class="card-inner">
                <div class="header">
                  <h2>Title</h2>
                  <h3>Sub-Head</h3>
              </div>
              <div class="content">
                <p>Content area</p>
              </div>
                </div>
            </div>
          </div>
    </div>

		</div> <!-- collapse -filter-content  .// -->
	</article>
	<article class="list-group-item">
		<header class="filter-header">
			<a href="#" data-toggle="collapse" data-target="#collapse2">
				<i class="icon-action fa fa-chevron-down"></i>
				<h6 class="title">Second heading </h6>
			</a>
		</header>
		<div class="filter-content collapse hide " id="collapse3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt deserunt mollit anim id est laborum.	</p>
		</div>
	</article>
	<article class="list-group-item">
		<header class="filter-header">
			<a href="#" data-toggle="collapse" data-target="collapse4">
				<i class="icon-action fa fa-chevron-down"></i>
				<h6 class="title">Another title </h6>
			</a>
		</header>
		<div class="filter-content collapse" id="collapse4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt deserunt mollit anim id est laborum.	</p>
		</div>
	</article>
</div> <!-- card.// -->



<div class="row cardh">
      <div class="col-sm-4">
        <div class="card">
          <div class="image">
            <img src="http://loremflickr.com/320/150?random=2" />
          </div>
          <div class="card-inner">
            <div class="header">
              <h2>Title</h2>
              <h3>Sub-Head</h3>
          </div>
          <div class="content">
            <p>Content area</p>
          </div>
            </div>
        </div>
      </div><div class="col-sm-4">
        <div class="card">
          <div class="image">
            <img src="http://loremflickr.com/320/150?random=3" />
          </div>
          <div class="card-inner">
            <div class="header">
              <h2>Title</h2>
              <h3>Sub-Head</h3>
          </div>
          <div class="content">
            <p>Content area</p>
          </div>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="image">
            <img src="http://loremflickr.com/320/150" />
          </div>
          <div class="card-inner">
            <div class="header">
              <h2>Title</h2>
              <h3>Sub-Head</h3>
          </div>
          <div class="content">
            <p>Content area</p>
          </div>
            </div>
        </div>
      </div>
    </div>
</div>