
  <div id="wrapper" style="width:80%">
    <section class="section">
         <div class="menu-search">

                 <div class="form-group">
                     <input type="text" name="searchString" [(ngModel)]="searchString" class="form-control" placeholder="What you are looking?">
                     <button class="btn btn-primary" style='font-size: 20px;'><fa-icon  [icon]="StudentIcons[6]"></fa-icon></button>
                 </div>
                 <button  class="btn btn-dark" (click)=" RegStudent()" style='margin-right:1050px; margin-top: 90px; width: 100px; padding-left:-40px'>Add New</button>

        </div>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
            </div>
        </div>
    </section>
    <div class="position-sticky">
      <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th scope="col" style="width: auto">ID</th>
                  <th scope="col" style="width: auto">Username</th>
                  <th scope="col" style="width: auto">Email</th>
                  <th scope="col" style="width: auto"> Department</th>
                  <th scope="col" style="width: auto"> level</th>
                  <th scope="col" style="width: auto">Image</th>
                  <th scope="col" style="width: auto">Controling</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let student of alluser | filter : {username:searchString};'>
                  <td>{{student.id}}</td>
                  <td>{{student.username}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.department}}</td>
                  <td>{{student.studyYear}}</td>
                  <td><img src ="{{ APIUrl +student.picPath}}" class="img img-fluid" /></td>
                  <td class='btn-group'>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" (click)="DetailsStudent(student.id)" class="btn btn-primary">Details</button>
                    <button type="button" (click)="UpdateStuednt(student.id)" class="btn btn-warning">Update</button>
                    <button type="button" (click)="DeleteStuden(student)" class="btn btn-danger">Delete</button>
                    </div>

                  </td>
</tr>
</tbody>
</table>
    </div>
</div>













