#wrapper {
    width: 80%;
}

.vertical-header {
    position: fixed;
    left: 0;
    z-index: 1111;
    top: 0;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.vertical-header-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1) no-repeat scroll center center;
    z-index: 10;
    overflow-x: hidden;
    min-width: 260px;
    overflow-y: auto
}

.subsub-menu-wrapper,
.sub-menu-wrapper {
    opacity: 0;
    visibility: hidden;
    background-color: #151515;
    position: absolute;
    padding: 0px 10px 0;
    width: 100%;
    top: 0;
    max-width: 240px;
    bottom: 0;
    left: 60%;
    height: 100%;
    display: table;
    -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
}

.subsub-menu-wrapper {
    background-color: #191919;
}

.primary-menu li:hover .subsub-menu li:hover a,
.primary-menu li:hover .sub-menu-wrapper li:hover a,
.primary-menu li:hover a {
    color: rgba(255, 255, 255, 1);
}

.primary-menu li:hover .subsub-menu li a,
.primary-menu li:hover .sub-menu-wrapper li a,
.menu-search .btn,
.vertical-header li a {
    color: rgba(255, 255, 255, 0.7);
}

.primary-menu li:hover .subsub-menu li a {
    color: rgba(255, 255, 255, 0.7) !important;
}

.primary-menu li:hover .subsub-menu li:hover a {
    color: rgba(255, 255, 255, 1) !important;
}

.vertical-header li {
    list-style: none;
}

.vertical-header ul {
    padding: 0 15px;
}

.sub-menu li:hover .subsub-menu-wrapper,
.child-menu:hover .sub-menu-wrapper {
    opacity: 1;
    z-index: 1000;
    left: 100%;
    position: absolute;
    visibility: visible;
}

.primary-menu li a {
    display: block;
    width: 100%;
    position: relative;
    text-decoration: none !important;
}

.primary-menu li .fa-angle-right {
    position: absolute;
    right: 0;
    font-size: 14px;
    top: 0px;
}

.yamm .fa-shopping-bag,
.navbar-inverse .fa-shopping-bag,
.primary-menu .fa-shopping-bag {
    margin-left: 4px;
}

.primary-menu {
    margin-top: 78px;
}

.primary-menu li {
    text-transform: capitalize;
    padding: 15px 20px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.15);
    font-size: 14px;
    line-height: 1 !important;
    margin: 0 !important;
    text-transform: capitalize;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}

.primary-menu li:first-child {
    border-top: 1px dotted rgba(255, 255, 255, 0.15);
}

.center-content {
    display: table-cell;
    vertical-align: middle;
}

.margin-block {
    min-height: 40px;
}

.logo {
    padding: 80px 0 0;
    text-align: center;
}

.menu-search {
    padding: 0 15px;
}

.menu-search .form-group {
    position: absolute;
    margin-left: 70%;
    padding: 0;
}

.menu-search .btn {
    background-color: green;
    position: absolute;
    border: 0;
    top: -1px;
    padding-right: 10px;
    padding-left: 10px;
    right: 0;
}

.menu-search .form-control:focus .btn {
    color: aqua;
}

.menu-search .form-control {
    border-radius: 20;
    background-color: mintcream;
    height: 40px;
    border: 20;
    color: black;
    font-size: 15px;
    box-shadow: 10;
    border: 1px solid black;
}

.menu-search .form-control::-moz-placeholder {
    color: black;
    opacity: 10;
}

.menu-search .form-control:-ms-input-placeholder {
    color: red;
}

.menu-search .form-control::-webkit-input-placeholder {
    color: black;
}

.menu-social ul {
    margin: 0;
    padding: 0;
}

.menu-social ul li {
    margin-top: 0;
    padding-top: 0;
}

.menu-social ul li i {
    font-size: 12px;
    padding: 10px;
    border: 1px dotted rgba(255, 255, 255, 0.2);
}


/*!
     * Yamm!3 - Yet another megamenu for Bootstrap 3
     * http://geedmo.github.com/yamm3
     *
     * @geedmo - Licensed under the MIT license
     */

.table {
    width: 90%;
    margin: 30px auto;
}

.parent {
    overflow: hidden;
}

.vertical-header,
#wrapper {
    float: right;
}

.vertical-header {
    width: 20%;
}

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
    right: auto;
}

.yamm .yamm-content {
    padding: 30px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.yamm-content ul {
    list-style: none;
    padding: 0;
}

.yamm-content ul li {
    padding: 5px 0
}

.yamm-content ul li:hover a {
    padding-left: 10px;
}

.yamm-content ul li em {
    font-size: 18px;
}

.yamm .dropdown-menu {
    box-shadow: none;
    border-color: #030303;
    background-color: #030303;
    border-radius: 0;
}

.yamm .dropdown-menu li a {
    color: #ffffff;
}

.yamm-half ul {
    min-width: 220px;
}

#header {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#header.affix {
    position: fixed;
    top: 0;
    width: 100%;
    border-color: #030303;
    background-color: #030303;
}

#header .navbar-brand {
    padding: 7px 20px;
}

.transparent-header {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 15px 0;
    z-index: 100;
    left: 0;
}

.nav,
.navbar,
.navbar-nav {
    margin-bottom: 0 !important;
}

.navbar-default {
    border-radius: 0;
    border: 0;
    background-color: transparent;
}

.navbar-default .nav>li>a {
    display: block;
    font-size: 14px;
    padding: 15px 15px;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    font-family: montserrat;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 15px;
}

.dark-header {
    padding: 20px 0;
    z-index: 1111;
    background-color: #030303
}

.light-header {
    padding: 20px 0;
    z-index: 1111;
    background-color: #ffffff;
}

.light-header.affix {
    background-color: #ffffff !important;
}

.light-header .nav>li>a {
    color: #000000;
}

.dark-header .nav>li>a,
.transparent-header .nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
}

.normal-header.dark-color .nav>li>a {
    color: #909090;
}

.normal-header.dark-color .nav>li>a:hover,
.transparent-header.dark-color .social i,
.transparent-header.dark-color .nav>li>a {
    color: #030303;
}

#header.affix {
    position: fixed;
    top: 0;
    width: 100%;
    border-color: #030303;
    background-color: #030303;
}

#header.affix.dark-color {
    border-color: #ffffff !important;
    background-color: #ffffff !important;
}


/*********************
MOBILE MENU
*********************/

.navbar-inverse {
    background-color: #121212;
    border: 0;
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
}

.navbar-collapse {
    box-shadow: none;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
    white-space: nowrap;
}

.navbar-inverse .nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-inverse .navbar-nav>li {
    padding-left: 10px;
}

.navbar-brand {
    padding: 12px 20px;
}


/************************************
SLIDER
************************************/

.tp-caption.WebProduct-Title,
.WebProduct-Title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
    letter-spacing: 0;
}

.dark-color,
.tp-caption.dark-color {
    color: #000000 !important;
}

.WebProduct-Content,
.tp-caption.WebProduct-Content {
    font-family: 'Poppins', serif;
    color: #ffffff;
    opacity: 0.8 !important;
    font-weight: 400;
}

.tp-caption.Small-Title-Link,
.tp-caption.Small-Title,
.Small-Title {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;
    color: rgba(255, 255, 255, 1.00);
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    padding: 0;
    text-decoration: none;
}

.Small-Title-Link a,
.tp-caption.Small-Title-Link a {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;
    color: rgba(255, 255, 255, 1.00);
    font-family: 'Poppins', serif;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    font-size: 10px;
    padding: 0;
    text-decoration: none;
}


/*********************
SECTIONS
*********************/

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(pattern.png) repeat center center rgba(0, 0, 0, 0.7);
}

.video-section {
    position: relative;
    width: 100%;
    height: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1180px;
}

.section {
    padding: 90px 30px;
    position: relative;
    overflow: hidden;
    display: block;
    background-color: #ffffff;
}

.section.noover {
    overflow: visible !important;
}

.section-title {
    margin-bottom: 45px;
}

.text-widget h3,
.section-title h3 {
    margin: 0 0 25px;
    padding: 0;
    font-size: 28px;
    font-weight: 600;
}

.section-title p {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.section.lb {
    background-color: #f7f6f6
}
